<!-- begin:header -->
<META HTTP-EQUIV="refresh">
  <section id="header">
      <div class="container">
          <div class="row">
              <div class="col-md-8 col-md-offset-2">
                  <blockquote>
                      <p>I'm just a mother whose son has Celiac, and this is how I make delicious food for him...</p>
                      <small>Zambrina</small>
                  </blockquote>
              </div>
          </div>
      </div>

  </section>
  <!-- end:header -->
  