<!-- begin:partner -->
<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled brand-img">
                  <li>
                    <a href="https://celiac.org/live-gluten-free/gluten-free-lifestyle/gluten-free-candy-list/"><img src="https://celiac.org/wp-content/themes/celiac/images/celiac-logo-25.png" alt="partner danish personal blog template"></a>
                  </li>
                  <li>
                    <a href="https://celiac.org/"><img src="https://celiac.org/wp-content/themes/celiac/images/celiac-logo-25.png" alt="partner danish personal blog template"></a>
                  </li>
                  <li>
                    <a href="https://celiac.org/"><img src="https://celiac.org/wp-content/themes/celiac/images/celiac-logo-25.png" alt="partner danish personal blog template"></a>
                  </li>
                  <li>
                    <a href="https://celiac.org/"><img src="https://celiac.org/wp-content/themes/celiac/images/celiac-logo-25.png" alt="partner danish personal blog template"></a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-- end:partner -->