<!-- begin:partner -->
<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled brand-img">
                  <li>
                    <a href="http://notyoursugarmamas.com/"><img src="http://cdn.shopify.com/s/files/1/0145/1002/t/4/assets/logo.png?2269043778681603480" alt="partner danish personal blog template"></a>
                  </li>
                  <li>
                    <a href="https://celiac.org/"><img src="https://celiac.org/wp-content/themes/celiac/images/celiac-logo-25.png" alt="partner danish personal blog template"></a>
                  </li>
                  <li>
                    <a href="http://notyoursugarmamas.com/"><img src="http://cdn.shopify.com/s/files/1/0145/1002/t/4/assets/logo.png?2269043778681603480" alt="partner danish personal blog template"></a>
                  </li>
                  <li>
                    <a href="https://celiac.org/"><img src="https://celiac.org/wp-content/themes/celiac/images/celiac-logo-25.png" alt="partner danish personal blog template"></a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-- end:partner -->