<!-- begin:partner -->
<section id="partner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled brand-img">
                  <li>
                    <a href="#">Gluten Free Foundation<!-- <img src="img/partner01.png" alt="partner danish personal blog template"> --></a>
                  </li>
                  <li>
                    <a href="#">Gluten Free Foundation<!-- <img src="img/partner01.png" alt="partner danish personal blog template"> --></a>
                  </li>
                  <li>
                    <a href="#">Gluten Free Foundation<!-- <img src="img/partner01.png" alt="partner danish personal blog template"> --></a>
                  </li>
                  <li>
                    <a href="#">Gluten Free Foundation<!-- <img src="img/partner01.png" alt="partner danish personal blog template"> --></a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
</section>
    <!-- end:partner -->