  <%= render "header" %> 

  <section id="contact">
    <div class="container">
      <div class="row contact">
        <div class="col-md-3 col-sm-3">
          <div class="contact-content">
            <h3>Mailing Address</h3>
            <address>
              5711 Spring Lodge Dr, <br> Kingwood TX 77345<br><br>
              zammysgfzone@gmail.com<br>
              <abbr title="Phone">Zams Phone</abbr> (832) 289-4454 <br>
              <abbr title="Phone">Tech</abbr> (832) 270-5910
            </address>
            <br>
            <p><strong>Mon</strong> - <strong>Fri:</strong> 10 AM to 4 PM<br>
            <strong>Sat</strong> - <strong>Sun:</strong> 10 AM to 3 PM</p>
          </div>
        </div>
        <div class="col-md-9 col-sm-9">
          <h3>Message Us!</h3>
          <p>Message Zam (zammysgfzone@gmail.com) with questions, comments, or concerns and Zam will respond as soon as she can.</p>
          <p>Also Keenan, the creator of this app, is a young rails developer with an impressive resume for being 21 years old. He is currently seeking employment, if you are looking for a slightly more advanced junior rails developer look no further. Contact Keenan at:</p>
          <p>Cell: 832-270-5910</p>
          <p>Email: keenansturtevant@gmail.com</p>

          <!-- <form class="comment-form">
            <div class="row">
              <div class="col-md-6 col-sm-6">

                <input type="text" class="form-control" placeholder="Enter Your Name : ">
                <input type="email" class="form-control" placeholder="Enter Your Email : ">
                <input type="text" class="form-control" placeholder="Enter Your Subject : ">
              </div>
              <div class="col-md-6 col-sm-6">
                <textarea class="form-control" rows="4" placeholder="Type Your Message : "></textarea>
                <input type="submit" class="btn btn-danish btn-lg btn-block">
              </div>
            </div>
          </form> -->

        </div>
      </div>
    </div>
  </section>
  <!-- end:contact -->
