<div class="single-comment">
  <div class="username">
    <%= p User.find(comment.user_id).username %>
  </div>
  <div class="content comment-content">
      <%= p comment.comment %>
  </div>
<% if current_user %>
  <% if current_user.admin == "125905" %>
   <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
<% end %>
</div>


