<%= render "layouts/topper_and_back_btn" %>

<section id="content">
  <div class="container">
    <h2 align="center">Dinner Recipes</h2><br>
    <hr>
<%= render @recipes.order("created_at DESC")%>

<br>

<%= will_paginate @recipes %>
  </div>
</section>