<%= render "layouts/topper_and_back_btn" %>

<section id="content">
  <div class="container">
    <h2 align="center">Breakfast Foods</h2><br>
    <hr>
<%= render @foods.order("created_at DESC")%>

<br>

  </div>
<div class="paginator">
    <%= will_paginate @foods %>
  </div>
</section>