/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require style
 *= require animate
 *= require bootstrap
 *= require bootstrap-theme
 *= require font-awesome
 *= require orange
 *= require responsive
 *= require_self
 */
#header {
  background: url('../img/IMG_2946.jpg');
}

.featured-img {
  max-height: 180px;
}
.portfolio-item {
  max-height: 259px;
}
.feat-img {
  margin-top: -50px; /* ADDED */
}
.quote-top{
  color: orange;
}
.fa-heart {
  color: red;
}
.overlay {

}
.navbar-default {
  background-color: transparent;
}
.login-container {
  max-width: 400px;
  min-width: 250px;
}
.checkbox {
  margin-left: 18px;
}
.login-button {
  width: 100px;
  position: relative;
  margin-right: 50%;
  margin-left: 38%;
}
.sign-up-button {
  width: 150px;
  position: relative;
  margin-right: 50%;
  margin-left: 38%;
}
.body {
  min-height: 500px;
}
.top-user-show {
  height: 20%;
  max-height: 200px;
  min-height: 100px;
  background-color: black;
  margin-top: -10px;
  width: 100%;
}
#bottom{
  background-color: black;
}
.blog-post-content {
  text-decoration: none;
  min-height: 100px;
  max-height: 200px;
  overflow: hidden;
}
.blog-post-image {
  height: 200px;
  overflow: hidden;
}
.fa-star {
  color: gold;
}
.fa-exclamation {
  color: red;
}

