/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 *= require recipes
 *= require static_pages
 *= require blog_posts
 *= require comments
 *= require style
 *= require animate
 *= require bootstrap
 *= require bootstrap-theme
 *= require font-awesome
 *= require orange
 *= require responsive
 *= require_self
 */
#header {
  background: url('../img/IMG_2946.jpg');
}
.body-spacer{
  min-height: 600px;
}
.bottom {
  margin-bottom: -100px;
}
.fa-star {
  color: gold;
}
.fa-exclamation {
  color: red;
}
.top-user-show {
  height: 20%;
  max-height: 200px;
  min-height: 100px;
  background-color: black;
  margin-top: -10px;
  width: 100%;
}
#bottom{
  background-color: black;
}
.fa-heart {
  color: red;
}
.overlay {

}
.navbar-default {
  background-color: transparent;
}
.footer-logo{
  float: right;
}
.post-id {
  float: right;
}
.comments-area {
  background-color: rgba(245,245,245,0.8);
}
.username {
  margin: 10px;
  color: navy;
}
.comment-content{
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
}
.single-comment {
  background-color: white;
  margin-bottom: 10px;
}
.back-button {
  background-color: #0f101a;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.btn-custom {
  margin-left: 20px;
  text-decoration: none;
}
.navbar{
  background-color: black;
}
.welcome-user{
  float: right;
  margin-right: 40px;
  margin-top: 5px;
  color: white;
}
.white{
  color: white;
}
.facebook-button{
  background-color: #3B5998;
  color: white;
}
.paginator{
  text-align: center;
  top: 1000px;
}
.recipe-post-content{
  max-height: 120px;
  overflow: hidden;
}

/*.featured-img {
  max-height: 180px;
}
.portfolio-item {
  max-height: 259px;
}
.feat-img {
  margin-top: -50px;
}
.quote-top{
  color: orange;
}*/
/*.login-container {
  max-width: 400px;
  min-width: 250px;
}
.checkbox {
  margin-left: 18px;
}
.login-button {
  width: 100px;
  position: relative;
  margin-right: 50%;
  margin-left: 38%;
}
.sign-up-button {
  width: 150px;
  position: relative;
  margin-right: 50%;
  margin-left: 38%;
}*/
/*.blog-post-content {
  text-decoration: none;
  min-height: 100px;
  max-height: 200px;
  overflow: hidden;
}
.blog-content {
  min-height: 300px;

}
.blog-container{
  margin-top: 50px;
  min-width: 200px;
  max-width: 500px;
  min-height: 400px;
  border: 1px solid grey;
}
.blog-post-details{
  margin-left: 50px;
}
.blog-image {
  max-width: 250px;
}
.bpimage{
  margin: 50px;
}
.blog-post-image {
  max-width: 400px;
  overflow: hidden;
}*/

/*.make-comment {
  margin-top: 20px;
}
.comments-area{
  max-width: 701px;
  min-width: 200px;
  width: 100%;
  border: 1px solid black;
  margin-right: auto;
  margin-left: auto;
}
.a-blog-post-comment {
  max-height: 500px;
  min-height: 50px;
  max-width: 600px;
  min-width: 190px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2px;
  border: 1px solid black;
}
.create-comment-div {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}
.create-comment {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}*/

/*.site-visits {
  max-height: 600px;
  overflow: scroll;
}*/
