// Place all the styles related to the Blog_Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-post-content {
  text-decoration: none;
  min-height: 100px;
  max-height: 200px;
  overflow: hidden;
}
.blog-content {
  min-height: 300px;

}
.blog-container{
  margin-top: 50px;
  min-width: 200px;
  max-width: 500px;
  min-height: 400px;
  border: 1px solid grey;
}
.blog-post-details{
  margin-left: 50px;
}
.blog-image {
  max-width: 250px;
}
.bpimage{
  margin: 50px;
}
.blog-post-image {
  max-width: 400px;
  overflow: hidden;
}