// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.diff-rate {
  color: grey;
}
.single-step {
  font-family: "Times New Roman", Times, serif;
}

.recipe-paginator{
  height: 560px;
}
.recipe-image{
  
}