<%= render "layouts/topper_and_back_btn" %>
<div id="featured">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="featured-container">
          <div class="featured-img">
            <a href="/lunch/food_items">
            <img class="feat-img" src="img/lunch-1.jpg" alt=""></a>
            <h3 class="feat-img-text"><a href="/lunch/food_items">Food Items</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="featured-container">
          <div class="featured-img">
            <a href="/lunch/recipes">
            <img class="feat-img" src="img/lunch-1.jpg" alt=""></a>
            <h3><a href="/lunch/recipes">Recipes</a></h3>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="featured-container">
          <div class="featured-img">
            <a href="/lunch/snacks">
            <img class="feat-img" src="img/lunch-1.jpg" alt=""></a>
            <h3><a href="/lunch/snacks">Snacks</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section id="content">
  <div class="container">
<div class="recipe-paginator">
<%= render @recipes.order("created_at DESC")%>

<br>

<%= will_paginate @recipes %>
</div>
</div>
</section>


