<!-- begin:demo-panel -->
<!--   <div class="demo-btn">
    <i class="fa fa-cog"></i>
  </div>
  <div class="demo-container" style="display:none;">
    <h4>Color Schemes</h4>
    <ul>
      <li class="color-option color-blue" data-color-value="blue"></li>
      <li class="color-option color-red" data-color-value="red"></li>
      <li class="color-option color-orange" data-color-value="orange"></li>
      <li class="color-option color-yellow" data-color-value="yellow"></li>
      <li class="color-option color-green" data-color-value="green"></li>
      <li class="color-option color-pink" data-color-value="pink"></li>
    </ul>
  </div> -->
<!-- end:demo-panel -->