    <!-- begin:copyright -->
    <section id="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6 copy-left">
            <p>Copyright &copy; 2016 <strong>ksWebDesign</strong>. All Right Reserved.</p>
          </div>

          <div class="col-md-6 col-sm-6 copy-right">
            <ul class="list-inline social-icon">
              <li><a href="https://twitter.com/zammysgf" class="icon-twitter" rel="tooltip" title="" data-placement="top" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/people/Zammys-Gfzone/100010199825778" class="icon-facebook" rel="tooltip" title="" data-placement="top" data-original-title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCOAUVIDKQYKGzXfUlrO2HRg" class="icon-youtube" rel="tooltip" title="" data-placement="top" data-original-title="Youtube"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#" class="icon-instagram" rel="tooltip" title="" data-placement="top" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <!-- end:copyright -->