<!-- begin:footer -->
<section id="bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-3">
              <div class="widget">
                  <h3>Recent Recipes</h3>
                  <ul class="list-unstyled">
                    <% Recipe.last(5).each do |recipe| %>
                      <li><a href="#">Lorem ipsum</a></li>
                    <% end %>
                  </ul>
              </div>
          </div>
          <div class="col-md-3 col-sm-3">
              <div class="widget">
                  <h3>Useful Links</h3>
                  <ul class="list-unstyled">
                      <li><a href="https://www.facebook.com/groups/Celiacdiseasesupport/?__mref=message_bubble">Facebook Celiac Support Group</a></li>
                      <li><a href="https://www.facebook.com/pages/Not-Your-Sugar-Mamas/124736810944378?__mref=message_bubble">Not Your Sugar Mamas Facebook Page</a></li>
                      <li><a href="/">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/contact">Contact</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-md-6 col-sm-6">
              <div class="footer-logo">
                  <h2><i class="fa fa-heart"></i> Love</h2>
                  <p>Email Us! <br>zammysgfzone@gmail.com</p>
                  <br>
                  <p class="muted">© 2016 Keenan Sturtevant.</p>
                  <a href="#">Terms of Service</a> <span>/</span> 
                  <a href="#">Privacy</a>
              </div>
          </div>
      </div>
  </div>
<br><br>
</section>
<!-- end:footer -->